<h1>Browser</h1>
<form action="/" method="GET">
  <input type="text" class="search" name="search" placeholder="Search..." value="{{query.search}}"/>
  <input
    type="number"
    name="from"
    class="price"
    placeholder="Price from..."
    value="{{query.from}}"
  />
  <span>-</span>
  <input
    type="number"
    name="to"
    class="price"
    placeholder="Price to..."
    value="{{query.to}}"
  />
  <input type="submit" value="search" />
</form>

{{#each cars}}
  {{> carCard}}
{{else}}
  <p class="name">No results!</p>
{{/each}}

<form action="/" method="GET" class="pagination">
  <input type="hidden" name="search" value="{{query.search}}"/>
  <input type="hidden" name="from" value="{{query.from}}"/>
  <input type="hidden" name="to" value="{{query.to}}"/>

{{#if showFirstPage}}
  <input type="submit" name="page" value="1"/>
  <span>...</span>
{{/if}}

{{#each pages}}
  <input type="submit" name="page" value="{{page}}" {{#if selected}}id="selected"{{/if}}/>
{{/each}}

{{#if showLastPage}}
  <span>...</span>
  <input type="submit" name="page" value="{{pagesTotal}}"/>
{{/if}}
</form>